/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
/* PROGRESS BAR */
.progressbar {
  width: 300px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 10px;

}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 10px;
}

.icon-span{
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
}
button:disabled,
button[disabled]{
  background-color: #8691a9;
  cursor: not-allowed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;

	cursor: pointer;
}

.form-inputt {
  width: 100%;
  padding: 10px;
  outline: none;
  border-bottom: 2px solid #b7b9bc;
  
}
.form-input:focus {
  border-bottom: 2px solid #0539b4;
}

/* .form-input-d {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #b7b9bc;
  border-radius: 10px;
}
.form-input:focus {
  border-bottom: 2px solid #0539b4;
} */
.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 8rem;
	}
}