@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0539b4;
}

body {
  margin: 0;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}