@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-primary: #0539b4;
}

body {
  margin: 0;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */


.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}